<h3>
  Buscar por región <small>{{ regionActiva | titlecase }}</small>
</h3>
<hr />
<h5>Seleccione la región</h5>
<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regiones"
      [class]="
        region === regionActiva
          ? 'btn mr-5 btn-primary'
          : 'btn mr-5 btn-outline-primary'
      "
      (click)="activarRegion(region)"
    >
      {{ region | titlecase }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
